---
import { siteConfig } from "@/lib/config";
---

<div class="h-6">
	<p class="text-center text-xs text-muted-foreground md:text-sm">
		&copy; {new Date().getFullYear()}
		{" "}
		<a
			href={siteConfig.links.github}
			target="_blank"
			rel="noreferrer"
			class="underline underline-offset-2"
		>
			{siteConfig.name}
		</a>
		{" "}
		All rights reserved.
	</p>
</div>
