.bn-container {
  --bn-colors-editor-text: hsl(var(--foreground));
  --bn-colors-editor-background: hsl(var(--background));
  --bn-colors-menu-text: hsl(var(--foreground));
  --bn-colors-menu-background: hsl(var(--background));
  --bn-colors-tooltip-text: hsl(var(--foreground));
  --bn-colors-tooltip-background: hsl(var(--muted));
  --bn-colors-hovered-text: hsl(var(--foreground));
  --bn-colors-hovered-background: hsl(var(--muted));
  --bn-colors-selected-text: hsl(var(--primary-foreground));
  --bn-colors-selected-background: hsl(var(--primary));
  --bn-colors-disabled-text: hsl(var(--muted-foreground));
  --bn-colors-disabled-background: hsl(var(--muted));
  --bn-colors-side-menu: hsl(var(--muted-foreground));
  --bn-colors-border: hsl(var(--border));
}

.bn-mantine {
  --stack-gap: 2rem;
}

.bn-editor * {
  font-family: "Inter", "Noto Sans JP", sans-serif;
}

.bn-mantine * {
  font-family: "Inter", "Noto Sans JP", sans-serif;
}
.bn-editor {
  background-color: transparent !important;
  padding-inline: 0 !important;
}

.bn-inline-content:has(> .ProseMirror-trailingBreak):before {
  font-style: normal !important;
}

.bn-suggestion-menu {
  padding: 0 4px !important;
}

.bn-suggestion-menu-item {
  margin: 2px 0;
}
.bn-mt-suggestion-menu-item-title {
  font-weight: 500;
}

.mantine-Menu-itemLabel {
  font-weight: 500;
}

.bn-block-content[data-content-type="heading"] h1 {
  font-size: 1.875rem;
  line-height: calc(2.25 / 1.875);
  font-weight: 700;
}

.bn-block-content[data-content-type="heading"] h2 {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
  font-weight: 700;
}

.bn-block-content[data-content-type="heading"] h3 {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
  font-weight: 700;
}

.bn-block-content[data-content-type="heading"] h4 {
  font-size: 1.125rem;
  line-height: calc(1.75 / 1.125);
  font-weight: 700;
}

.bn-block-content[data-content-type="heading"] h5 {
  font-size: 1rem;
  line-height: calc(1.5 / 1);
  font-weight: 700;
}

.bn-block-content[data-content-type="heading"] h6 {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  font-weight: 700;
}

.bn-block-content[data-content-type="paragraph"] p {
  font-size: 1rem;
  line-height: 1.625;
}

.bn-mantine .bn-form-popover {
  z-index: 10000 !important;
}

.katex * {
  font-family: KaTeX_Main, KaTeX_Math, serif !important;
}

.equation::before,
.equation::after {
  content: "";
  display: inline-block;
  width: 0.2rem;
  height: 1em;
}
